<IfModule mod_rewrite.c>
    # Allow CORS
    Header set Access-Control-Allow-Origin "*"
    RewriteEngine on

    # Check if the request is not a real file or directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rewrite requests without .php extension to .php files
    RewriteRule ^([a-zA-Z0-9_-]+)$ $1.php [L,QSA]

    # Rewrite all other URLs to index.php for the page parameter
    RewriteRule ^(.*)$ /index.php/$2/?page=$1 [L]
</IfModule>