#header {
  height: 70vh;
  width: 100%;
  position: relative;
  top: -1em;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#header > div {
  position: relative;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.header-content {
  display: flex;
  width: 100%;
  padding: 0 2rem;
}

.site-title {
  flex: 1;
  font-size: clamp(30px, 10vw, 70px) !important;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin: 50px 0 0 40px;
  text-align: center;
}

.icon-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  top: 10%;
}

.icon-container .icon {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container .icon dotlottie-player {
  height: 350px !important;
  width: 650px !important;
  display: flex !important;
  align-items: flex-start !important;
  text-align: left !important;
}

.icon-container a#enrollment {
  margin-top: 1rem;
  text-align: center;
}

.btn#enrollment {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: white;
  border: 1px solid #ccc;
  color: #001f3f;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.btn#enrollment:hover {
  background-color: #001f3f;
  color: white;
}

div#search-field {
  display: none !important;
  transition: all 3s ease-in;
  height: 0;
}

div#search-field.show {
  background: var(--light);
  top: 2.7em;
  width: 30em;
  left: -30em;
  height: auto;
  padding: 0.5em 0.5em;
  border: 1px solid #d7d7d7;
  display: block !important;
}

div#search-field {
  display: none !important;
  transition: all 3s ease-in;
  height: 0;
}

div#search-field.show {
  background: var(--light);
  top: 2.7em;
  width: 30em;
  left: -30em;
  height: auto;
  padding: 0.5em 0.5em;
  border: 1px solid #d7d7d7;
  display: block !important;
}

#student-img-avatar {
  object-fit: scale-down;
  object-position: center center;
  height: 35px;
  width: 35px;
  border: 1px solid var(--dark);
  border-radius: 100%;
}

#banner-img {
  object-fit: scale-down;
  object-position: center center;
  height: 40vh;
  width: calc(80%);
}

.banner-img {
  object-fit: scale-down;
  object-position: center center;
  height: 27vh;
  width: calc(90%);
}

@media (max-width: 760px) {
  #banner-img {
    height: 30vh;
    width: calc(100%);
  }
}

/* Sidebar styles */
.sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 60px;
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1100;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  border-radius: 10px 0 0 0;
}

.sidebar .container {
  margin: 10px 0 0 10px;
}

.container h2 {
  margin-top: 5px;
}

.sidebar.hidden {
  transform: translateX(100%);
}

.sidebar.visible {
  transform: translateX(0);
}

.sidebar .closebtn {
  position: absolute;
  top: 3px;
  right: 20px;
  font-size: 36px;
  cursor: pointer;
  text-decoration: none;
}

/* Floating buttons */
.floating-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.floating-btn-container {
  position: relative;
  display: flex;
  align-items: center;
}

.floating-btn {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.floating-btn i {
  color: #fff;
}

.floating-btn:hover {
  background-color: #0056b3;
  transform: scale(1.1); /* Slightly enlarge on hover */
}

/* Floating Button Text */
.floating-btn-text {
  position: absolute;
  right: 60px; /* Position text to the left of the button */
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  opacity: 0; /* Initially hidden */
  transform: translateX(20px); /* Slightly offset for animation */
  transition: opacity 0.3s ease, transform 0.3s ease;
  white-space: nowrap; /* Prevent text from wrapping */
  pointer-events: none; /* Ignore pointer events */
}

.floating-btn-container:hover .floating-btn-text {
  opacity: 1; /* Show text on hover */
  transform: translateX(0); /* Reset position */
}

/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 1050; /* Lower than sidebar but above content */
  display: none; /* Hidden by default */
}

.overlay.visible {
  display: block;
}

@media (max-width: 575.98px) {
  #header {
    display: flex !important;
    flex-direction: column !important;
  }

  .header-content {
    flex-direction: column !important;
    text-align: left !important;
    display: flex !important;
    flex-wrap: wrap !important;
  }

  .site-title {
    font-size: 30px !important;
    display: flex !important;
    margin: 10px 0 0 0 !important;
    min-width: 100px !important;
    justify-content: center !important;
    text-align: center !important;
  }

  .icon-container {
    margin: 0 !important;
  }

  .icon-container .icon dotlottie-player {
    width: 170px !important;
    height: 150px !important;
  }
  .icon-container a#enrollment {
    margin-top: 0 !important;
    text-align: center;
  }

  .btn#enrollment {
    width: 70% !important;
    height: 40px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}

@media only screen and (max-width: 768px) {
  #header {
    display: flex !important;
    flex-direction: row !important;
  }

  .header-content {
    flex-direction: row !important;
    text-align: left !important;
    display: flex !important;
    flex-wrap: wrap !important;
  }

  .site-title {
    font-size: 36px !important;
    display: flex !important;
    margin: 10px 0 0 0 !important;
    min-width: 200px !important;
    justify-content: center !important;
    text-align: center !important;
    align-items: center !important;
  }

  .icon-container {
    margin: 0 !important;
  }

  .icon-container .icon dotlottie-player {
    width: 250px !important;
    height: 200px !important;
  }
  .icon-container a#enrollment {
    margin-top: 0 !important;
    text-align: center;
  }

  .btn#enrollment {
    width: 70% !important;
    height: 40px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  /* Adjustments for smaller phones */
}

/* Large tablets in portrait mode */
@media only screen and (max-width: 1024px) {
  #header {
    display: flex !important;
    flex-direction: row !important;
  }

  .header-content {
    flex-direction: row !important;
    text-align: left !important;
    display: flex !important;
    flex-wrap: wrap !important;
  }

  .site-title {
    font-size: 45px !important;
    display: flex !important;
    margin: 10px 0 0 0 !important;
    min-width: 200px !important;
    justify-content: center !important;
    text-align: center !important;
    align-items: center !important;
  }

  .icon-container {
    margin: 0 !important;
  }

  .icon-container .icon dotlottie-player {
    width: 250px !important;
    height: 200px !important;
  }
  .icon-container a#enrollment {
    margin-top: 0 !important;
    text-align: center;
  }

  .btn#enrollment {
    width: 70% !important;
    height: 40px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  /* Adjustments for smaller phones */
}

@media only screen and (min-width: 1025px) {
  #header {
    display: flex !important;
    flex-direction: row !important;
  }

  .header-content {
    flex-direction: row !important;
    text-align: left !important;
    display: flex !important;
    flex-wrap: wrap !important;
  }

  .site-title {
    font-size: 60px !important;
    display: flex !important;
    margin: 10px 0 0 0 !important;
    min-width: 200px !important;
    justify-content: center !important;
    text-align: center !important;
    align-items: center !important;
  }

  .icon-container {
    margin: 0 !important;
  }

  .icon-container .icon dotlottie-player {
    width: 350px !important;
    height: 300px !important;
  }
  .icon-container a#enrollment {
    margin-top: 0 !important;
    text-align: center;
  }

  .btn#enrollment {
    width: 70% !important;
    height: 40px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  /* Adjustments for smaller phones */
}
