.card {
  margin-top: 5vh !important;
}

.card-header {
  background-color: #b51b23 !important;
  color: #fff !important;
  align-items: center !important;
}
.card-title {
  color: #fff !important;
  font-weight: bold !important;
  font-size: 40px !important;
  text-align: center !important;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  margin: 15px 0;
}

.title h2 {
  color: #2d2d2d;
  margin: 0;
  font-size: 2.5rem;
}
.title p {
  color: #2d2d2d;
  margin: 0;
  font-size: 20px !important;
  font-weight: bold;
}
.title .year {
  color: #2d2d2d;
  margin: 0;
  font-size: 20px !important;
  font-weight: bold;
}

.students {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 5px;
  margin: 15px 0;
}
.students .left {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
  font-size: 18px;
}
.students .right {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.students .right .right {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  flex: 1;
}
.students .right .left {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  flex: 1;
}

.download-btn {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#document_field {
  min-height: 80vh;
}

.download-info {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
}

#reasonTextarea,
#submitReasonButton,
#requestForm {
  display: none;
}

.file-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.file-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.file-card .card-header-p {
  background-color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
}
.file-card .card-title-p {
  background-color: #ffffff;
  color: #3a3838;
  font-weight: bold;
  font-size: 1.2rem;
}
.file-card .card-body-p {
  background-color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 7px 0;
  border-radius: 10px;
}

.file-card .text-success {
  color: #28a745 !important;
  font-size: 1.2rem;
}

.file-card .text-secondary {
  color: #6c757d !important;
  font-size: 1.2rem;
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-card .card-image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}
