@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --fontfamily: "Poppins", sans-serif;
}
p {
  font-family: var(--fontfamily);
}

.project-container {
  height: 100vh;
  margin-top: 12vh !important;
  font-family: var(--fontfamily);
}

.head {
  background-color: #b51b23;
  padding: 5px 0;
  border-radius: 15px 15px 0 0;
}

.head h2 {
  color: #fff;
}

.row {
  padding: 20px !important;
  gap: 20px;
}
.cards {
  border: lightskyblue 1px solid;
  max-height: 500px;
  height: 500px;
  row-gap: 20px;
}

.card-body {
  margin-top: 4vh;
}

.card-body .card-title {
  font-size: 1rem;
  color: #3e3d3d;
  font-weight: 600;
  text-align: center;
  margin-top: 3rem;
}

.card-body .abstract {
  margin-top: 4vh;
  color: #777474;
  text-align: justify;
  position: relative;
  overflow: hidden;
  max-height: 4.5em;
  line-height: 1.5em;
  display: block;
}

.see-more {
  color: #b51b23;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.see-more::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 0;
  bottom: 0;
  width: 10px;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
  pointer-events: none; /* Ensures the blur doesn't interfere with hover or click */
}

.see-more:hover {
  text-decoration: underline;
}

.student {
  color: #1b1919;
  font-weight: 600;
  text-align: center;
  margin-top: 4vh;
}
